# Môi trường ảo (Bắt buộc chặn cái này)
venv/
ENV/
env/
.env

# Python rác
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# Manim output
media/
Tex/

# File tạm và file test
test.py
manim_error.txt
*.mp4

# Tài liệu và hướng dẫn (Dựa trên dự án của bạn)
part2/lec16.pdf
part2/householder_qr_explained.md
TUD-TK*
*.pdf
manim.md 