# Kiểm chứng kết quả 
numpy>=2.4.3
scipy>=1.17.1
sympy>=1.14.0

# Tạo video
manim>=0.20.1
pycairo>=1.29.0

# Vẽ đồ thị
matplotlib>=3.10.8

# Trình bày notebook
jinja2>=3.1.6
ipython>=8.22.0

# Chạy các file ipynb
ipykernel>=7.2.0

#Hỗ trợ xuất ma trận
pandas>=2.2.0